@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  background: black;
  color: white;
}

nav {
  position: absolute;
}

p {
  margin: 0;
  text-shadow: 0px 0px 1px black;
}

i {
  text-shadow: 0px 0px 1px black;
}

#homePlayer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

#songDetail {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em;
}
#userDetail {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  text-align: right;
}

#genreDiv {
  display: flex;
  justify-content: center;
}

#genrePlayer {
  width: 50vw;
  height: 50vh;
}

#genreButtons {
  display: flex;
  justify-content: center;
}

button, a {
  font-size: 1em;
  padding: 0;
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

button {
  margin: 1em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10em;
  padding-left: 10em;
  padding-right: 10em;
}

.Form input {
  padding: 1em;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  border-bottom: white solid 1px;
  color: white;
  outline: 0;
  background-color: transparent;
}

